
body{
    margin:0;
    padding:0;

}
.menu-wrapper{

    background-color: aqua;
    height: 200px;

}
.logo{
    float: left;
    width: 30%;
    margin-top: 20px;
    margin-left:30px;
}
img{
    width: 140px;
}

nav{
    position: relative;
    left:30%;
    top:20px;
}
ul{
     

}

li{
    padding: 10px;
    display: inline;
    background-color: azure;
    
}