.container{
    background-color:rgb(209, 234, 235);
    width:400px;
    border: 2px solid rgb(114, 237, 241);
    padding: 15px;
    margin: 10px;
    position: relative;
    border-radius: 6px;
}
img{
    width:25%;
    float:left;
    margin:20px;
}
h1{
    color:darkgreen;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}